

#maingame{
  background-color: #e7e7e7;
  font-size: .8em;
}

#maingame.dark {
  background-color: #220027;
}

.contentMem {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.fieldContainer {
  position: relative;
  width: 60vw;
  height: 92vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  margin-bottom: 1vw;



}

.field-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 46.8vw;
}

.stats {
  position: relative;
  background-color: #ffffff;
  width: 40vw;
  height: calc(92vh - 3vw);
  margin: 1.5vw;
  border-radius: 1vw;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.cardHolder {
  height: 10.5vw;
  width: 10.5vw;
  padding: .6vw;
  z-index: 2;
}


.card {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 7%;
  background-image: url("/public/lernen/resources/card_purple.png");
  background-size: cover;
  background-color: white;
  position: relative;
  z-index: 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all .3s;
}

.card>p {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 7%;
  text-align: center;
  visibility: hidden;
  word-wrap: break-word;
  overflow: hidden;
}

.card>.colorMemory{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 7%;
  visibility: hidden;
  overflow: auto;
}

.card>p>img {
  padding: 5%;
  max-width: 90%;
  max-height: 90%;
}

.card:hover {

  
  left: -.3vw;
  top: -.3vw;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.445);
  transition: 0.3s;
  margin: 0;
}

.flip {
  transform: rotateY(180deg);
  background-size: 0 0;
}

.correctCard {
  transition-delay: 1s;
  transition: .3s;
  opacity: 0.5;
}


.center {
  width: 100%;
  text-align: center;
}

.center > h1{
  font-size: 2.5vw;
  font-weight: bold;
}

.info{
 text-align: left;
 margin: 2vw 4vw 4vw 4vw;
 font-size: 1.5em;
}

.info > h2{
  color: #330080;
  font-size: 2.3vw;
  font-weight: bold;
}



.bottom {
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  font-size: 1.3em;
}

.bottom>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.bottom>div>span:nth-child(1) {
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Cutive Mono', monospace;
}

.bottom>div>span:nth-child(2) {
  color: #330080;
}

.cardVisible>p {
  visibility: visible;
  transition-delay: .1s;
  transform: rotateY(180deg);
}

.cardVisible>.colorMemory {
  visibility: visible;
  transition-delay: .1s;
  transform: rotateY(180deg);
}

.wiggle {
  animation: wiggle 1s;
}


@keyframes wiggle {

  10%,
  90% {
    transform: translate(-1px, 0) rotateY(180deg);
  }

  20%,
  80% {
    transform: translate(2px, 0) rotateY(180deg);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0) rotateY(180deg);
  }

  40%,
  60% {
    transform: translate(4px, 0) rotateY(180deg);
  }
}

#gamecomplete {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

.info-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.back-arrow{
  margin-top: 7em;
}

#gamecomplete>div {
  width: 60vw;
  height: 80vh;
  margin: 10vh 20vw 10vh 20vw;
  background-color: #ffffff;
  position: relative;
  border-radius: 1vw;
  text-align: center;
  z-index: 10;
}

#gamecomplete>div>h2 {
  padding-top: 5vh;
  font-size: 3em;
  color: #330080;
}

#gamecomplete>div>p {
  padding: 2vh;
  font-size: 1.5em;
  margin: 0 2vw 0 2vw;
}

#time2{
  font-size: 2em;
}


.hide {
  visibility: hidden;
}

/** confetti canvas */
#particle-canvas {
  display: block;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}


@media only screen and (max-width: 768px) {


  #gamecomplete>div {
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw 10vh 10vw;
  }

  #gamecomplete>div>h2 {
    font-size: 2em;
  }

  #gamecomplete>div>p {
    padding: 2vh;
    font-size: 1.2em;
    margin: 1vw 1vw 1vw 1vw;
  }

  #maingame{
    min-height: calc(100vh - 52px);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contentMem {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .section {
    padding: 0;
    padding-top: 4vw;
  }

  .content {
    flex-direction: column;
    width: 100vw;
  }

  .fieldContainer {
    width: 100%;
    height: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .field-center {
    max-width: 96vw;
  }

  .cardHolder {
    width: 24vw;
    height: 24vw;
    padding: 1vw;
    font-size: 2vw;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
  }

  .stats {
    width: 94%;
    margin-left: 3%;
    min-height: 40vh;
    height: auto;
    justify-content: center;
    margin-bottom: 1.5em;
  }

  .center {
    font-size: 8vw;
    margin-top: 2vw;
  }

  .bottom {
    font-size: 4vw;
    position: relative;
  }

  .center > h1{
    font-size: .8em;
  }

  .infoicon{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #330080;
  }



  #infoNotification{
    position: absolute;
    z-index: 3;
    min-height: 100%;
    min-width: 100%;
    font-size: 1.2em;
    
  }

  #infoNotification > h2 {
    font-size: 1.5em;
  }
}